[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.0"
psycopg2-binary = "*"
django-environ = "*"
django-cors-headers = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-extensions = "*"
whitenoise = "==6.0.0"
django-on-heroku = "*"
gunicorn = "*"
pillow = "*"
django-taggit = "*"
boto3 = "*"
django-storages = "*"
python-decouple = "*"
djoser = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
